.side-button {
  display: flex;
}

.register-button {
  padding: 10px 20px !important;
  border-radius: 0.75rem;
  border: 1.5px #333 solid;
  width: 90%;
}

@media screen and (max-width: 379px) {
  .side-button {
    display: block !important;
  }

  .side-button .nav-item {
    text-align: center;
    height: 30%;
  }

  .register-button {
    padding: 7px 10px;
    border-radius: 0.75rem;
    border: 1.5px #333 solid;
    display: inline-block;
    width: 90%;
  }

  .submenu {
    display: block;
  }

}